/PyjamaJam2/Temp
/PyjamaJam2/Library
*.svd

!PyjamaJam2/Library/*.asset
!PyjamaJam2/Library/AssetImportState
!PyjamaJam2/Library/AssetVersioning.db
!PyjamaJam2/Library/BuildPlayer.prefs
!PyjamaJam2/Library/ScriptMapper
!PyjamaJam2/Library/assetservercachev3
!PyjamaJam2/Library/expandedItems
!PyjamaJam2/Library/guidmapper
!PyjamaJam2/Library/unity default resources
!PyjamaJam2/Library/unity editor resources



/PyjamaJam2/PyjamaJam2.userprefs
/PyjamaJam2/Assembly-CSharp.csproj
/PyjamaJam2/Assembly-CSharp.pidb
/PyjamaJam2/Assembly-CSharp-Editor.csproj
/PyjamaJam2/Assembly-CSharp-Editor.pidb
/PyjamaJam2/Assembly-CSharp-Editor-vs.csproj
/PyjamaJam2/Assembly-CSharp-firstpass.csproj
/PyjamaJam2/Assembly-CSharp-firstpass.pidb
/PyjamaJam2/Assembly-CSharp-firstpass-vs.csproj
/PyjamaJam2/Assembly-CSharp-vs.csproj
/PyjamaJam2/Assembly-UnityScript-firstpass.pidb
/PyjamaJam2/Assembly-UnityScript-firstpass.unityproj
/PyjamaJam2/Assembly-UnityScript-firstpass-vs.unityproj
/PyjamaJam2/PyjamaJam2.suo
